body{font-family: 'Arial' , sans-serif;background-color: #DDDDDD;}
#logo{position: absolute;top: 1.8%;left: 10%;width: 10%}
#title{font-size:x-large;}
a{text-decoration: none;color: #fff;opacity: 1;cursor: pointer;}

center b{position: absolute;top: 2.2%;font-size: xx-large;font-family: serif;}

